{% extends "layouts/default.twig" %}

{% block title %}Maha Framework{% endblock %}

{% block description %}Maha Framework - Please update the description or I'll find this on Google!{% endblock %}

{% block content %}
    <div class="container">

        <div class="alert alert-success">
            Good so far!  We'll have to update this to check some other settings
        </div>

    </div>
{% endblock %}