{% extends "layouts/default.twig" %}

{% block title %}Maha Framework{% endblock %}

{% block description %}Maha Framework - Please update the description or I'll find this on Google!{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success">
            Thank you for installing the Maha Framework! - Mark Hanson
        </div>
        <div class="jumbotron">
            <h1>
                {{ header }}
            </h1>
            <p>
                That wasn't too bad, huh?  Hopefully you'll enjoy using this framework too!
            </p>
            <ul class="list-inline">
                <li>
                    <a href="https://github.com/mhanson01/maha-framework">
                        <span class="glyphicon glyphicon-new-window"></span>
                        Maha-Framework on Github
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/mhanson01">
                        <span class="glyphicon glyphicon-new-window"></span>
                        Mark Hanson on Twitter
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}